<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" body="width=device-width, initial-scale=1.0">
  <title>Tech-blog</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
</head>

<body>
  <header>
    <h1>Tech Blog</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/homepage">Homepage</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
  </nav>
  <main>
    <div class="posts">
      {{{body}}}
    </div>
  </main>
</body>

</html>